body,html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Vollkorn', serif;
}

* {
    margin: 0;
    padding: 0;
}

hr {
    width: 40%;
    margin: 4% 0%;
}


.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: white; */
    /* box-shadow: 2px 2px 10px rgba(0,0,0,0.2); */
    height: 100px;
    width: 100%;
    z-index: 10000;
    position: fixed;
    top: 0;
    
}

.topbar-toggle-color {
    background-color: rgb(0, 0, 0);
}

.logo {
    margin-left: 50px;
}

.topbar .logo h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.topbar ul {
    display: flex;
    margin-right: 50px;
}

.topbar ul li a{
    margin-left: 30px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px;
    transition: all 0.3s linear;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.topbar ul li a:hover{
    /* color: rgb(255, 255, 255); */
    background-color: rgb(231, 231, 231,0.2);
    border-radius: 10px;
    
}

.menu {
    display: none;
    color: rgb(255, 255, 255);
}

.menu .fa-bars{
    font-size: 35px;
}

.container-1 {
    display: flex;
    justify-content: center;
    /* background-image: url(pic/rodrigo-curi-6jm0zqDBFcE-unsplash.jpg); */
    background-image: url(pic/background1.png);
    /* background-position:center; */
    background-size: cover;
    /* height: 100%; */
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    color: white;
}

.content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 560px;
    margin: 50px 0px;
    overflow: hidden;
    
}

.content-1 h1{
    font-size: 70px;
    /* animation: anim 1.6s; */
}

.content-1 p{
    font-size: 25px;
    text-align: center;
    /* animation: anim 1.8s; */
}

.photo {
    width: 200px;
    height: 200px;
    border: 5px solid white;
    border-radius: 100%;
    margin-bottom: 30px;
    margin-top: 100px;
    /* animation: anim 1.2s; */
    
}

.photo img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.content-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    /* animation: anim 1.8s; */
}

.logo-box a{
    color: white;
}

.logo-box img {
    width: 40px;
    height: 40px;
    /* animation: anim 1.8s; */
    /* padding-left: 50px; */
}

.logo-box img:hover {
    transform: translateY(-10px);
    transition: all ease 0.5s;
}




/* ----------card----------- */

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0%;
}

.container-2 h1{
    font-size: 40px;
}

.container-2-box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* margin-bottom: 50px; */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    width: 20%;
    padding: 2% 1%;
    margin: 0% 1%;
    transition: all 0.5s linear;
}

.card img {
    width: 120px;
    height: 120px;
}

.card h1{
    font-size: 35px;
    color: rgb(0, 0, 0);
    margin: 20px 0px;
}

.card p{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

/* ---------container-3--------- */


.container-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 228);
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 3% 0%;
}

.container-3 h1{
    font-size: 40px;
}

.container-3-box {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 50px;
    width: 60%;
}

.assignment-box{
    background-color: white;
}

.assignment-box h1{
    font-size: 30px;
    /* margin-bottom: 5%; */
}

.assignment-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 0% 5%;
}

.assignment-info a{
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    color: rgb(0, 0, 0);
    padding: 2% 6%;
    font-size: 25px;
    width: 70px;
    text-align: center;
    transition: all 0.3s linear;
}

.assignment-info a:hover{
    background-color: rgb(196, 196, 196);
}

.assignment-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.assignment-box img{
    width: 100%;
    height: 100%;
}

.respon-picture {
    display: none;
    position: relative;
}

.hold-color {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.9);
    color: rgb(255, 255, 255);
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
    font-size: 20px;
}


/* ---------footer---------- */


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 0% 2%;
}

.contact ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact ul li{
    padding: 0px 5px;
}


.fa-facebook-square{
    transition: all 0.3s linear;
    font-size: 40px;
    color: rgb(32, 71, 179);
}

.fa-instagram-square{
    transition: all 0.3s linear;
    font-size: 40px;
    color: rgb(195, 42, 163);
}

.fa-youtube-square{
    transition: all 0.3s linear;
    font-size: 40px;
    color: rgb(255, 0, 0);
}

.fa-facebook-square:hover{
    color: rgb(24, 51, 128);
}

.fa-instagram-square:hover{
    color: rgb(124, 25, 103);
}

.fa-youtube-square:hover{
    color: rgb(133, 25, 25);
}

.footer-first {
    text-align: center;
    padding: 1.5% 0%;
}

.footer-second {
    text-align: center;
    padding: 1.5% 0%;
}

.top-scroll {
    transition: all ease 0.5s;
    background-color: black;
    color: white;
}











/* -----------------responsive----------------------*/



@media only screen and (max-width: 1181px){
    .assignment-box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .assignment-info {
        display: none;
    }

    .respon-picture {
        display: block;
    }

    .respon-picture:hover .hold-color {
        visibility: visible;
        opacity: 1;
    }

    .picture {
        display: none;
    }

}

@media only screen and (max-width: 1045px){

    .topbar {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .topbar ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 20px 0px;
    }

    .logo {
        margin-left: 0px;
    }

    .logo h1 {
        margin: 20px 0pc;
    }
    
    .topbar li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 25px;
        padding: 10px;
        margin-left: 0px;
    }

    .topbar ul li {
        text-align: center;
        margin-bottom: 30px;
        padding: 0px;
    }

    .topbar ul li a{
        margin-left: 0px;
    }

    .menu {
        display: block;
        position:absolute;
        top: 35px;
        right: 30px;
        cursor: pointer;
    }

    .topbar .menu-active {
        display: flex;
    }

    .container-2-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .card {
        margin: 1% 0%;
        width: 40%;
    }

    .card img {
        width: 100px;
        height: 100px;
    }
    
    .card h1{
        font-size: 35px;
        margin: 2% 0%;
    }
    
    .card p{
        font-size: 20px;
    }
}


@media only screen and (max-width: 768px){

    .photo {
        width: 150px;
        height: 150px;
    }

    .photo img{
        width: 150px;
        height: 150px;
    }

    .content-1 {
        width: auto;
        margin: 50px 0px;
    }

    .content-1 h1{
        font-size: 50px;
    }
    
    .content-1 p{
        font-size: 20px;
    }

    .container-2-box .card h1{
        font-size: 25px;
    }

    .container-2-box .card p{
        font-size: 15px;
    }

    .container-2 h1{
        font-size: 35px;
    }

    .container-3 h1 {
        font-size: 35px;
    }

    .card img {
        width: 80px;
        height: 80px;
    }
}

@media only screen and (max-width: 410px){
    
     .photo {
        width: 130px;
        height: 130px;
    }

    .photo img{
        width: 130px;
        height: 130px;
    }

    .content-1 h1{
        font-size: 30px;
    }
    
    .content-1 p{
        font-size: 15px;
    }

    .container-2-box .card h1{
        font-size: 22px;
    }

    .container-2-box .card p{
        font-size: 18px;
    }

    .container-2 h1{
        font-size: 30px;
    }

    .container-3 h1 {
        font-size: 30px;
    }

    .card img {
        width: 60px;
        height: 60px;
    }

}






/* -----------------portfolio page----------------------*/



.container-box {
    padding: 0% 5%;
}

.container-box h1 {
    margin: 25px 0px;
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.container-box p {
    font-size: 20px;
}

.topbar-port {
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 2px 2px 10px rgba(0,0,0,0.2); */
    height: 100px;
    width: 100%;
    z-index: 10000;
    position: fixed;
    top: 0;
}

.topbar-port .logo h1 {
    font-size: 50px;
    color: rgb(0, 0, 0);
}



/* web-content */

.web-box {
    position: relative;
}

.web-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(26, 26, 26);
    padding-top: 100px;
}

.web-box:hover .hold-color {
    visibility: visible;
    opacity: 1;
}

.web-content-box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
}

.web-box img{
    width: 100%;
}




/* ps */

.port-container {
    width: 100%;
    padding-bottom: 10%;
}

.port-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pos {
    width: 60%;
    position: relative;
    box-shadow: 0px 0px 30px rgba(0,0,0,1);
}

.mySlides1 {
    width: 100%;
    margin: 0 auto;
}

.pos:hover .hold-color {
    visibility: visible;
    opacity: 1;
}

.hove {
    width: 60%;
    box-shadow: 0px 0px 30px rgba(0,0,0,1);
}

.hove img {
    transition: all 0.3s linear;
}

.hove:hover img{
    transform: scale(1.05);
}

.left-btn {
    cursor: pointer;
    font-size: 50px;
    padding: 0% 1.5%;
    color: rgb(255, 255, 255);
    transition: all 0.3s linear;
}

.left-btn:hover{
    background-color: rgb(153, 153, 153);
    color: rgb(0, 0, 0);
}

.right-btn {
    cursor: pointer;
    font-size: 50px;
    padding: 0% 1.5%;
    color: rgb(255, 255, 255);
    transition: all 0.3s linear;
}

.right-btn:hover {
    background-color: rgb(153, 153, 153);
    color: rgb(0, 0, 0);
}


/* Project content */


.pj-container {
    padding: 5% 0%;
}

.project-content-box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
}

.project-box {
    background-color: white;
    width: 100%;
    height: auto;
}

.project-box video{
    width: 100%;
}

.project-box p {
    text-align: center;
    color: black;
    font-size: 20px;
    margin: 0 auto;
    padding: 1% 5%;
}

@media only screen and (max-width: 1024px){
    .web-content-box {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 25px;
        margin-top: 30px;
    }

    .top h1{
        font-size: 20px;
    }

    .left-btn {
        font-size: 30px;
    }

    .right-btn {
        font-size: 30px;
    }

    .project-box p {
        font-size: 15px;
        padding: 1% 5%;
    }

}

@media only screen and (max-width: 768px){
    .web-content-box {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 25px;
        margin-top: 30px;
    }

    .project-content-box {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 25px;
    }

    .top h1{
        font-size: 15px;
    }

    .left-btn {
        font-size: 25px;
    }

    .right-btn {
        font-size: 25px;
    }

    .project-box p {
        padding: 1% 5%;
    }

}


